<h3>Add a new arrivals:</h3>
<form action="/arrivals" method="post">
  <label for="new-arrrival">Item description:</label>
  <input id="new-arrival" name="new-arrival" type="text">
  <button type="submit">Submit</button>
</form>
