<h1> Choose what to do </h1>

<a href="/departures/new">create new departure</a>
<a href="/arrival/new">create new arrival</a>
<a href="/departures">view departures</a>
<a href="/arrival/">view arrivals</a>
<a href="/arrival/search">search departure in arrivals</a>
<a href="/departure/search">search departure in arrivals</a>
